/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
_ide_helper.php
/.phpstorm.meta.php
Vagrantfile
app/bootstrap/cache/*
!app/bootstrap/cache/.gitignore
/_ide_helper_models.php
app/bootstrap/cache/*
!app/bootstrap/cache/.gitignore
Vagrantfile
npm-debug.log
